@font-face {
  font-family: "HighriseFont";
  font-style: normal;
  font-weight: normal;
  src: url("../../Fonts/highrise/HighriseFont-Demo-Regular.woff") format("woff");
}
@font-face {
  font-family: "HighriseFont";
  font-style: normal;
  font-weight: 600;
  src: url("../../Fonts/highrise/HighriseFont-Condensed-Demo.woff")
    format("woff");
}
@font-face {
  font-family: "HighriseFont";
  font-style: normal;
  font-weight: 700;
  src: url("HighriseFont-Bold-Demo.woff") format("woff");
}

.coolinput {
  @apply w-[18rem] md:w-[15rem] lg:w-[20rem];
  display: flex;
  flex-direction: column;
  position: static;
  position: relative;
}

.coolinput label.text {
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  width: fit-content;
  padding: 0 5px;
}

.coolinput input.input {
  width: 100%;
  padding: 11px 10px;
  border-radius: 5px;
  background: transparent;
}


