h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @apply lg:text-4xl;
}
h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}
p {
  @apply text-base  mb-20;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
